<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>小智</title>

    <!-- Bootstrap -->
    <link href="../../assets/css/bootstrap.min.css" type="text/css" rel="stylesheet">
    <link href="./news.css" type="text/css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/angular.js/1.4.6/angular.js"></script>
  </head>

  <body>
     <!-- <div class="navbar navbar-inverse navbar-fixed-top navbar-wrapper"> -->
        <div>
            <div class="bar-top">
                <div class="container" style="position: relative;">
                    <a class="bar-title" href="index.html">小智课堂</a>
                    <div class="Findout" style="position: absolute;left: 50%;top: 38%;transform: translate(-50%,-50%);">
                        <form class="form-search">
                            <input type="text" class="input-medium search-query find_input search" style="width:250px;height: 15px;border-color: #e5e5e5;" placeholder="search">
                            <button class="find_button">搜索</button>
                        </form>
                    </div>
                    <ul class="navtitle pull-right">
                        <li class="head">
                            
                            
                            <a href="" class="headimg"><img id="headerimg" src="http://7zn2fy.com1.z0.glb.clouddn.com/apicloud/1d276ae45be8f9a2fdd1fd0687f35f4e.jpg"></a>
                        
                            <div class="bubble dropdown-menu">
                                <div class="cusp"></div>
                                <!-- <div class="func-one" id="my-collect">我的收藏</div> -->
                                <!-- <div class="func-two" id="my-join">我的报名</div> -->
                                <div class="quit" id="quit" onclick="quit()">注 销</div>
                            </div>
                        </li>
                        <!-- <li class="signup_in" id="signup"><a href="components/login/login.html">登录/注册</a></li> -->
                        <li class="mystudy"><a  href="news.html">消息</a></li>
                        <li class="mystudy"><a  href="../shopcar/shopcar.html">购物车</a></li>
                        <li class="mystudy"><a  href="../mystudy/mystudy.html">我的学习</a></li>
                        <!-- <li class="message"><a href="#">消息</a></li> -->
                        
                    </ul>
                </div>
            </div>
        </div>

        <div class="row-fluid in_box"  ng-app="myApp">
            <div class="span2 offset1 list">
                <ul class="list_ul" ng-controller="personCtrl">
                    <li ng-click="toggle1()" class="list1 active">
                        课程提醒
                    </li>
                    <li ng-click="toggle2()" class="list2">
                        平台通知
                    </li>
                    <li ng-click="toggle3()" class="list3">
                        互动提醒
                        <span class="pot">12</span>
                    </li>
                </ul>
            </div>
            <div class="span7 news_box">
                <ul class="Classinf ">
                    <li>
                        <div class="one">
                            <span class="info_left_B">恭喜您已成功获得<span class="name">《XXXX》</span>课程，开始学习吧</span>
                        </div>
                        <div class="two">
                            <span class="info_left">2018-06-08</span>
                        </div>
                    </li>
                </ul>
                <ul class="Webinf dis">
                    <li>
                        暂无消息
                    </li>
                </ul>
                <ul class="Interactioninf dis">
                    <li>
                        <div class="one">
                            <span class="info_left">来自<span class="name">林某某</span>的评论</span>
                            <span class="info_right">2018-06-08</span>
                        </div>
                        <div class="">
                            <p class="info_p">        如果你无法简洁的表达你的想法，那只说明你还不够了解它。
                                    -- 阿尔伯特·爱因斯坦
                            </p>
                        </div>
                    </li>
                    <li>
                        <div class="one">
                            <span class="info_left">来自<span class="name">林某某</span>的评论</span>
                            <span class="info_right">2018-06-08</span>
                        </div>
                        <div class="">
                            <p class="info_p">        如果你无法简洁的表达你的想法，那只说明你还不够了解它。
                                    -- 阿尔伯特·爱因斯坦
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
            <!-- <div class="span7 news_box">
                暂无消息
            </div> -->
        </div>

   
      
    
    </body>
    <script src="../../assets/js/jquery-1.11.3.min.js"></script>
    <script src="../../assets/js/sha1.min.js"></script>
    <script src="../../assets/js/common.js"></script>
    <!-- <script src="assets/js/stickup.js"></script> -->
    <script src="../../assets/js/bootstrap.min.js"></script>
    <script src="./news.js"></script>
    <!-- <script>
        BXF.component.login.install();
    </script> -->
    <script type="text/javascript">
        
    </script>
</html>
