<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>小智</title>

    <!-- Bootstrap -->
    <link href="../../assets/css/bootstrap.min.css" type="text/css" rel="stylesheet">
    <link href="mystudy.css" type="text/css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/angular.js/1.4.6/angular.min.js"></script>
  </head>

  <body>
     <!-- <div class="navbar navbar-inverse navbar-fixed-top navbar-wrapper"> -->
        <div>
      <div class="bar-top">
        <div class="container">
            <a class="bar-title" href="index.html">小智课堂</a>
            <ul class="navtitle pull-right">
                <li class="head">
                    <div class="signup_in"><a href="components/login/login.html">登录/注册</a></div>
                    <a href="../my_detail/my_detail.html"href="components/my_detail/my_detail.html" target="_blank" class="headimg"><img src="http://7zn2fy.com1.z0.glb.clouddn.com/apicloud/1d276ae45be8f9a2fdd1fd0687f35f4e.jpg"></a>
                   
                    <div class="bubble dropdown-menu">
                        <div class="cusp"></div>
                        <!-- <div class="func-one" id="my-collect">我的收藏</div> -->
                        <div class="func-two" id="my-join">我的报名</div>
                        <div class="quit" id="quit">注 销</div>
                    </div>
                </li>
                
                <li class="mystudy"><a href="#">我的学习</a></li>
                <!-- <li class="message"><a href="#">消息</a></li> -->
                
                <li class="Findout">
                    <form class="form-search">
                        <input type="text" class="input-medium search-query find_input search" style="width:250px;height: 15px;border-color: #e5e5e5;" placeholder="search">
                        <button class="find_button">搜索</button>
                    </form>
                </li>
            </ul>
        </div>
      </div>
    </div>


    <div class="container detail" id="week">
        <div ng-app="Course" ng-controller="course">
            <div class="tab-content" style="overflow: hidden;">
                <div class="course_list">
                    <div class="row">
                        <ul class="thumbnails ">
                            <li class="span4 " style="position: relative;" ng-repeat="course in hot" ng-click="chooseItem($index)">
                                <div class="coursebox"></div>
                                <div class="thumbnail">
                                    <div class="caption">
                                    <img ng-src="{{course.img}}"/>
                                    <div class="row-fluid">
                                        <div class="span9">
                                            <h5>{{course.title}}</h5>
                                            <p class="teachername">{{course.teachername}}</p>
                                        </div>
                                        <div class="span3">
                                                <button class="btn btn-mini btn-primary startstudy" type="button">开始学习</button>
                                        </div>
                                    </div>
                                    
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="pagination pagination-right">
                    <ul ng-repeat="page in hotpage">
                    <li ng-click='hotpagechange($event)'><a href="#">{{page}}</a></li>
                    </ul>
                </div>
            </div>
         </div>
    </div>

  

    
      
    
    </body>
    <script src="../../assets/js/jquery-1.11.3.min.js"></script>
    <script src="../../assets/js/sha1.min.js"></script>
    <script src="../../assets/js/common.js"></script>
    <!-- <script src="assets/js/stickup.js"></script> -->
    <script src="../../assets/js/bootstrap.min.js"></script>
    <script src="mystudy.js"></script>
    <!-- <script>
        BXF.component.login.install();
    </script> -->
    <script type="text/javascript">
   
    </script>
</html>
