.backgro{
    /* padding-top:50px;  */
    height: 300px; 
    background: url(../img/true.jpg) no-repeat;
    background-size: 100% 300px;
  
}
#container{
    width: 1366px;
}
form{
    margin:0;
}
#initialize{
    margin:40px;
}


.bar-top{
    background: #4A5073;
    height:60px;
    line-height: 60px;
}
.bar-title{
  display: block;
  float: left;
  margin-left: -20px;
  font-size: 20px;
  font-weight: 200;
  color:#fff;
}
.bar-title::before{
  color:#86A6DC;
}
.navtitle{
  
  margin-bottom: 0px;
  margin-left: 0;
  list-style: none;
  overflow: hiden;
}
.navtitle li{
    color: #fff;
    height: 80px;
    float:right;
    padding: 0 13px;
    line-height: 60px;
}
.navtitle li a{
    color:#fff;
}
.navtitle li a:hover{
    color:#86A6DC;
}
/* .navtitle li a:active{
    color:#86A6DC;
} */
.navtitle li a img{
    border-radius: 35px;
    height: 35px;
}

.head{
    position: relative;
}
.dropdown-menu{
    min-width: 80px;
}
.bubble{
    padding: 5px 0;
    position: absolute;
    top: 60px;
    right: 2px;
    display: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}
.quit,.func-one,.func-two{
    height: 30px;
    text-align: center;
    line-height: 30px;
    color: black;
    font-family: "微软雅黑";
    font-size: 12px;
    cursor: pointer;
}
.func-one{
    border-radius: 5px 5px 0 0;
}
.quit{
    border-radius: 0 0 5px 5px;
}
.quit:hover,.func-one:hover,.func-two:hover{
    background: #86A6DC;
    color: #f4f4f4;
}
.Consultation{
    position: relative;
}
.td-code{
    display: none;
    position: absolute;
    top: -14px;
    left: 74px;
    width: 140px;
    height: 140px;
    padding: 10px;
    background: #44444f;
    border-radius: 5px;
}
.td-code img{
    width: 100%;
}
input::-webkit-input-placeholder {
        /* placeholder颜色  */
     color: #d3d3d3;
      
}

 input::-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #d3d3d3;
}

 input:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #d3d3d3;
}
.find_button{
    padding:2px 10px;
    border:none;
    background: #fff;
    border-radius: 5px;
    font-family: "微软雅黑";
    font-size: 10px;
    color: #99C0C8;
}
.signup_in{
    display: inline;
    padding-right: 5px;
}
.tab{
    margin:20px 0;
}


.row{
    margin-left: 0;
}

.teachername{
    font-size: 10px;
    margin:0;
}

.coursebox{
    opacity: 0;
    position: absolute;
    top: -10px;
    right: -8px;
    bottom: -10px;
    left: -8px;
    background-color: #fff;
    box-shadow: 0 0 12px rgba(0, 0, 0,1);
    cursor: pointer;
}

.coursebox:hover{
    opacity: 0.3;
    position: absolute;
    top: -10px;
    right: -8px;
    bottom: -10px;
    left: -8px;
    background-color: #fff;
    box-shadow: 0 0 12px rgba(0, 0, 0,1);
    cursor: pointer;
}
.detail{
    padding-top:40px;
    padding-bottom: 40px;
  }
  .startstudy{
      margin-top:40%;
      z-index: 1000;
      
  }