<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>小智</title>

    <!-- Bootstrap -->
    <link href="assets/css/bootstrap.min.css" type="text/css" rel="stylesheet">
    <link href="assets/css/index.css" type="text/css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/angular.js/1.4.6/angular.js"></script>
  </head>

  <body>
     <!-- <div class="navbar navbar-inverse navbar-fixed-top navbar-wrapper"> -->
        <div>
      <div class="bar-top">
        <div class="container">
            <a class="bar-title" href="index.html">小智课堂</a>
            <ul class="navtitle pull-right">
                <li class="head">
                    <div class="signup_in" id="signup"><a href="components/login/login.html">登录/注册</a></div>
                    
                    <a href="" class="headimg"><img id="headerimg" src="http://7zn2fy.com1.z0.glb.clouddn.com/apicloud/1d276ae45be8f9a2fdd1fd0687f35f4e.jpg"></a>
                   
                    <div class="bubble dropdown-menu">
                        <div class="cusp"></div>
                        <!-- <div class="func-one" id="my-collect">我的收藏</div> -->
                        <!-- <div class="func-two" id="my-join">我的报名</div> -->
                        <div class="quit" id="quit" onclick="quit()">注 销</div>
                    </div>
                </li>
                
                <li class="mystudy"><a  href="components/mystudy/mystudy.html">我的学习</a></li>
                <!-- <li class="message"><a href="#">消息</a></li> -->
                
                <li class="Findout">
                    <form class="form-search">
                        <input type="text" class="input-medium search-query find_input search" style="width:250px;height: 15px;border-color: #e5e5e5;" placeholder="search">
                        <button class="find_button">搜索</button>
                    </form>
                </li>
            </ul>
        </div>
      </div>
    </div>


    <div class="container" id="container">
        <div class="row backgro">
            <div class="span6 offset11 login-win " id="login-win">
                <div id="initialize">
                    <div class="title-one">小智课堂</div>
                    <div class="title-two">Enjoy Your AI Learning</div>
                    
                </div>
                
            </div>
        </div>
    </div>

  

      <div class="tabbable container" > 
        <ul class="nav nav-tabs tab">
                <li class="active"><a href="#tab1" data-toggle="tab" >热门课程</a></li>
                <li><a href="#tab2" data-toggle="tab">最新课程</a></li>
              </ul>
        <div ng-app="Course" ng-controller="course">
            <div class="tab-content" style="overflow: hidden;">
                <div class="tab-pane active" id="tab1">
                    <div class="course_list">
                            <div class="row">
                                <ul class="thumbnails ">
                                    <li class="span4 " style="position: relative;" ng-repeat="course in hot track by $index" ng-click="chooseItem($index)">
                                        <div class="coursebox"></div>
                                    <div class="thumbnail">
                                        <div class="caption">
                                        <img ng-src="{{course.picPath}}"/>
                                        <div class="row-fluid">
                                            <div class="span9">
                                                <h5>{{course.course_name}}</h5>
                                                <p class="teachername">{{course.teacherName}}</p>
                                            </div>
                                            <div class="span3">
                                                <p class="act">{{course.course_price}}</p>
                                            </div>
                                        </div>
                                        
                                        </div>
                                    </div>
                                    </li>
                                </ul>
                            </div>
                    </div>
                    <div class="pagination pagination-right">
                        <ul ng-repeat="page in hotpage">
                        <li ng-click='hotpagechange($event)'><a href="#">{{page}}</a></li>
                        </ul>
                    </div>
                </div>
                <div class="tab-pane" id="tab2">
                        <div class="course_list">
                        <div class="row">
                            <ul class="thumbnails ">
                                <li class="span4 " style="position: relative;" ng-repeat="course in new">
                                    <div class="coursebox"></div>
                                <div class="thumbnail">
                                    <div class="caption">
                                    <img ng-src="{{course.picPath}}"/>
                                    <div class="row-fluid">
                                        <div class="span9">
                                            <h5>{{course.course_name}}</h5>
                                            <p class="teachername">{{course.teacherName}}</p>
                                        </div>
                                        <div class="span3">
                                            <p class="act">{{course.course_price}}</p>
                                        </div>
                                    </div>
                                    
                                    </div>
                                </div>
                                </li>
                            </ul>
                        </div>
                </div>
                <div class="pagination pagination-right">
                    <ul ng-repeat="page in newpage">
                        <li ng-click='newpagechange($event)'><a href="#">{{page}}</a></li>
                        <!-- <li ng-click='newpagechange($event)'><a href="#">2</a></li> -->
                    </ul>
                </div>
                </div>
            </div>
        </div>
      </div>
      
    
    </body>
    <script src="assets/js/jquery-1.11.3.min.js"></script>
    <script src="assets/js/sha1.min.js"></script>
    <script src="assets/js/common.js"></script>
    <!-- <script src="assets/js/stickup.js"></script> -->
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/index.js"></script>
    <!-- <script>
        BXF.component.login.install();
    </script> -->
    <script type="text/javascript">
        
    </script>
</html>
