<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>登录页面</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link href="../../assets/css/bootstrap.min.css" type="text/css" rel="stylesheet">
    <link href="login.css" type="text/css" rel="stylesheet">
    <link rel="stylesheet" href="jquery.mloading.css">
    
    <script src="https://cdn.bootcss.com/angular.js/1.4.6/angular.min.js"></script>
    <script type="text/javascript" src="http://qzonestyle.gtimg.cn/qzone/openapi/qc_loader.js" data-appid="1105892740"  data-redirecturi="http://www.kiwich.com" charset="utf-8"></script>
    <script type="text/javascript">
        var paras = {};
        
        QC.api("get_user_info", paras)
            .success(function(s){//成功回调
                alert("获取用户信息成功！当前用户昵称为："+s.data.nickname);
            })
            .error(function(f){//失败回调
                alert("获取用户信息失败！");
            })
            .complete(function(c){//完成请求回调
                alert("获取用户信息完成！");
            });
        </script>
    <style>
       
    </style>
</head>

<body>
    <div class="container">
        <div class="header">
            <a class="header-logo" href="javascript:;">
                <img src="images/Cache_35abbb52101b6a6e..jpg" width="400">
            </a>
        </div>
        <form class="form-signin" name="myForm">
            <!-- <h3 class="form-toper">小智学院</h3> -->
           
         <div class="tabbable"> <!-- Only required for left/right tabs -->
            <ul class="nav nav-tabs">
              <li class="active" style="width:50%;text-align: center"><a href="#tab1" data-toggle="tab">登录</a></li>
              <li style="width:50%;text-align: center"><a href="#tab2" data-toggle="tab">注册</a></li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane active" id="tab1">
                    <div class="form-wrapper">
                            <div class="form-group">
                                <label class="form-title">请输入邮箱/昵称</label>
                                <input type="text" name="username" class="form-control" placeholder="邮箱/昵称" autofocus>
                            </div>
                            <div class="form-group">
                                <label class="form-title">请输入密码</label>
                                <input type="password" name="password" class="form-control" placeholder="密码">
                            </div>
                            <div class="btn btn-lg btn-primary btn-block"  id="login">登 录</div>
                            <div class="b">第三方登录:</div>
                            <div class="im">
                                <span id="qqLoginBtn"></span>
                                <script type="text/javascript">
                                    QC.Login({
                                        btnId:"qqLoginBtn"	//插入按钮的节点id
                                    });
                                </script>
                                <!-- <a><img src="https://img04.sogoucdn.com/net/a/04/link?url=https%3A%2F%2Fi01piccdn.sogoucdn.com%2F6a90a3f1cfa85106&appid=122"></a>
                                <a><img src="https://img04.sogoucdn.com/net/a/04/link?url=https%3A%2F%2Fi02piccdn.sogoucdn.com%2Fb7f65a930a17e563&appid=122"></a> -->
                            </div>
                        </div>
              </div>
              <div class="tab-pane" id="tab2">
                    <div class="form-wrapper">
                            <div class="form-group">
                                <label class="form-title">请输入邮箱</label>
                                <input type="text" name="email" class="form-control" placeholder="邮箱" autofocus>
                            </div>
                            <div class="form-group">
                                    <label class="form-title">请输入昵称</label>
                                    <input type="text" name="usernamesign" class="form-control" placeholder="昵称">
                                </div>
                            <div class="form-group">
                                <label class="form-title">请输入密码</label>
                                <input type="password" name="passwordsign" class="form-control" placeholder="密码">
                            </div>
                            <div class="form-group">
                                <label class="form-title">请输入邀请码</label>
                                <input type="text" name="invitecode" class="form-control" placeholder="邀请码">
                            </div>
                            <button class="btn btn-lg btn-primary btn-block" type="button" id="validation" >注 册</button>
                        </div>
              </div>
            </div>
            <!-- <div>
                <p class="title">第三方登录</p>
                <div class="loginimg"><img src="images/QQ.png"></div>
                <div class="loginimg"><img src="images/weixin.png"></div>
            </div> -->
          </div>
        </form>
     
    </div>
    <div id="overlay">
        </div>
    <div style="top:400px;display:none" id="q_Msgbox " class="zeng_msgbox_layer_wrap">
        <span id="mode_tips_v2" style="z-index:10000" class="zeng_msgbox_layer">
            <span class="gtl_ico_clear"></span>
            <span class="gtl_ico_loading"></span>正在加载中，请稍后...
            <span class="gtl_end"></span>
        </span>
    </div>
    <div class="zeng_msgbox_layer_wrap" id="q_Msgbox" style=" display:block"></div>
    
    
</body>

    <script src="../../assets/js/jquery-1.11.3.min.js"></script>
    <script src="../../assets/js/bootstrap.min.js"></script>
    <script src="http://www.jq22.com/jquery/jquery-1.10.2.js"></script>
    <script src="jquery.mloading.js"></script>
    <script src="login.js"></script>
    <script>
       if(QC.Login.check()){//如果已登录
	QC.Login.getMe(function(openId, accessToken){
		alert(["当前登录用户的", "openId为："+openId, "accessToken为："+accessToken].join("\n"));
	});
	//这里可以调用自己的保存接口
	//...
}
    </script>

</html>