
.center{ text-align: center;display:inline-block;}
.grey1{ background-color: #a7a3a3; }
.white{ background-color: #FFFFFF;}

.hero-color{ background-color: #eee;}
.board{padding:10px;border:1px solid #eee;}
.img-contain
{
    border:1px solid #eee;
}
.ct
{
    margin-left: 0px;
    height: 100%;
}
.course-container
{   
    padding-top: 30px;
    width:95%;
    display:inline-block;
}
.course-video
{
    padding-top: 30px;
    width:100%;
    display:inline-block;
    vertical-align:middle;
    text-align: center;

}
.course-info
{
    width:100%;
}
.box
{
    background-color:#FFFFFF;
    width:100%;
}
.chapter{height: 30px; width:100%}








