<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"> 
    <link href="../../assets/bootstrap-wysiwyg-master/index.css" rel="stylesheet">
    <link href="../../assets/bootstrap-wysiwyg-master/external/google-code-prettify/prettify.css" rel="stylesheet">
    <link href="../../assets/bootstrap-wysiwyg-master/bootstrap-combined.no-icons.min.css" rel="stylesheet">  
    <link href="../../assets/bootstrap-wysiwyg-master/bootstrap-responsive.min.css" rel="stylesheet">  
    <link href="http://netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome.css" rel="stylesheet">  
    <link href="../../assets/css/bootstrap.min.css" type="text/css" rel="stylesheet">
    <link href="study_detail.css" type="text/css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/angular.js/1.4.6/angular.min.js"></script>
    <script src="http://cdn.bootcss.com/jquery/1.9.1/jquery.min.js"></script>
    <script src="../../assets/bootstrap-wysiwyg-master/external/jquery.hotkeys.js"></script>    
    <script src="http://cdn.bootcss.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script> 
    <script src="../../assets/bootstrap-wysiwyg-master/bootstrap-wysiwyg.js"></script>  
    <script src="https://cdn.bootcss.com/angular.js/1.4.6/angular.min.js"></script>
    <script src="study_detail.js"></script>
    
    <title>学习</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="study_detail.css">
    <!-- <link href="study_detail.css" type="text/css" rel="stylesheet"> -->
  </head>

  <body class="grey2" > 
    <div class="cell">
        <div class="row-fluid cell center">
            <div class="span9 grey2">
                <div class="course-container center">
                    <div class="course-video">
                        <video style="width: 100%" src="media/study.mp4" controls></video>
                    </div>
                    
                </div>
            </div>
            
            <div class="cell span3 grey1">
                <div ng-app="myApp" ng-controller="myCtrl">
                    <div class="course-info" style="height: 15%;">
                        <div class="row-fluid">
                            <div class="span7 center img-contain" >
                                <h4>{{title}}</h4>
                                <p>{{teacher}}</p>
                            </div>
                            <div class="span5" ng-repeat="course in records">
                                <div class="img-contain">
                                    <img ng-src="{{img}}" style="width:100%"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="course-nav grey4" style="height:5%">
                    <ul class="nav nav-tabs">
                        <li class="active" style="width:33%; text-align: center">
                            <a href="#tab1" data-toggle="tab">
                                <span class="icon-th-list"></span>目录
                            </a>                                
                        </li>
                        <li  style="width:33%; text-align: center">
                            <a href="#tab2" data-toggle="tab">
                                <span class="icon-list-alt"></span>讨论
                            </a>
                        </li>
                        <li  style="width:33%; text-align: center">
                            <a href="#tab3" data-toggle="tab">
                                <span class="icon-pencil"></span>笔记
                            </a></li>
                    </ul>
                </div>
                
                <div class="tab-content box"style="height: 80%;">
                    <div id="tab1" class="tab-pane active">
                        <ul>
                        </ul>
                    </div>
                    <div id="tab2" class="tab-pane">
                        <p>开发中</p>
                    </div>
                    <div id="tab3" class="tab-pane">
                        <textarea rows="3"></textarea>
                    </div>
                </div>
            </div>
                
        </div>
            

    </div>
   
      
  </body>
   
</html>
