<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>支付页面</title>
        <!-- Bootstrap -->
        <link href="../../assets/css/bootstrap.min.css" type="text/css" rel="stylesheet">
        <link href="pay_page.css" type="text/css" rel="stylesheet">
        <script src="https://cdn.bootcss.com/angular.js/1.4.6/angular.min.js"></script>
    </head>

<body>

    <div ng-app="myBuy" ng-controller="buyCtrl">
        <div class="container">
            <h3>收银台</h3>
            <div class="pay-info">
                <p>应付金额：{{value}}</p>
                <p>付费项目：{{name}}</p>
                <p>订单类型：</p>
            </div>

            <div class="pay">
                <ul class="nav nav-tabs">
                    <li class="active" style=" text-align: center; width: 100px">
                        <a href="#tab1" data-toggle="tab">
                            </span>微信</a>
                    </li>
                    <li style="text-align: center; width:100px">
                        <a href="#tab2" data-toggle="tab">
                            </span>支付宝</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div id="tab1" class="tab-pane active">
                        <div class="well" style="background-color: #ffffffff">
                            <div class="row-fluid">
                                <div class="span3">
                                    <div style="padding:20px">
                                        <img src="img/WePayLogo.png">
                                    </div>
                                    
                                </div>
                                <div class="span1"></div>
                                <div class="span4" style="text-align: center;padding-top: 30px">
                                    <img src="img/code.jpg" style="width:400px">
                                    <img src="img/word.png" style="width:240px">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="tab2" class="tab-pane">
                        <div class="well" style="background-color: #ffffffff">
                            <div style="text-align: center">
                                <h1>支付宝二维码</h1>
                            </div>
                        </div>
                    </div>
                </div>
                <!--tab-contant-->
            </div>
            <!--pay-->
        </div>
        <!--container-->
    </div>
    <!--myBuy-->

</body>

<script src="../../assets/js/jquery-1.11.3.min.js"></script>
<script src="../../assets/js/sha1.min.js"></script>
<script src="../../assets/js/common.js"></script>
<!-- <script src="assets/js/stickup.js"></script> -->
<script src="../../assets/js/bootstrap.min.js"></script>
<script src="pay_page.js"></script>
<!-- <script>
    BXF.component.login.install();
</script> -->
<script type="text/javascript">
    
</script>

</html>